{{ define "main" }}

<section class="hero">
  <div class="container">
    <div class="row flex-lg-row-reverse justify-content-center align-items-center g-5">
      <!-- Hero Image -->
      <div class="col-10 col-sm-8 col-lg-6">
        <img class="d-block mx-lg-auto img-fluid" src="https://upload.wikimedia.org/wikipedia/commons/9/98/International_Pok%C3%A9mon_logo.svg" alt="Pokemon Logo" width="500" height="" loading="lazy">
      </div>

      <!-- Hero Content -->
      <div class="col-lg-6 text-center text-lg-start">
        <!-- Hero Text -->
        <div class="text-center text-lg-start">
          {{ .Content }}
        </div>

        <!-- Hero CTA -->
        <a class="btn btn-outline-secondary py-3 px-4 d-flex justify-content-center align-items-center d-md-inline-block" href="pokemon">
          <img class="d-inline-block" src="https://cdn-icons-png.flaticon.com/512/188/188940.png" width="30px">
          <span class="align-middle">Open Pokédex</span>
        </a>
      </div>
    </div>
  </div>
</section>

{{ end }}