{{ define "main" }}

<section class="hero">
  <div class="container">
    <div class="row flex-lg-row-reverse justify-content-center align-items-center g-5">
      <!-- Hero Image -->
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="https://upload.wikimedia.org/wikipedia/commons/9/98/International_Pok%C3%A9mon_logo.svg" class="d-block mx-lg-auto img-fluid" alt="Pokemon Logo" width="500" height="" loading="lazy">
      </div>

      <!-- Hero Content -->
      <div class="col-lg-6 d-flex flex-column gap-2 align-items-center align-items-lg-start">
        <h1>Welcome to Pokédex</h1>
        <h2>A website to showcase Pokémon </h2>
      </div>

    </div>
  </div>
</section>

{{ end }}
