{{ define "main" }}

<section class="list-page">
  <div class="container">
    <!-- Cards -->
    <div class="row justify-content-center justify-content-md-start gy-4">
      {{ range .Pages }}
      <!-- Card Start -->
      <div class="col-12 col-md-6 col-lg-4 col-xxl-3">
        <div class="card">
          <div class="position-relative">
            <div class="d-flex rounded shadow-sm py-4 px-4 py-md-3 px-md-3">
              <!-- Card Content -->
              <div class="col-6 d-flex flex-column gap-1">
                <span class="fw-bold text-black text-opacity-50 mb-3">#{{ .Params.ID }}</span>
                <a class="fs-5 text-capitalize text-reset text-decoration-none mb-2" href="{{ .RelPermalink }}">{{ .Params.Name }}</a>
                {{ partial "terms.html" (dict "taxonomy" "types" "page" .) }}
              </div>

              <!-- Card Image -->
              <a class="col-6 text-center" href="{{ .RelPermalink }}">
                <img class="col-12 img-fluid" src="{{ .Params.Sprites }}" alt="{{ .Params.Name | title }} Sprite" loading="lazy">
              </a>
            </div>
          </div>
        </div>
      </div>
      {{ end }}
      <!-- Cards End -->
    </div>
  </div>
</section>

{{ end }}