{{- /*
For a given taxonomy, renders a list of terms assigned to the page.

@context {page} page The current page.
@context {string} taxonomy The taxonomy.

@example: {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
*/}}

{{- $page := .page }}
{{- $taxonomy := .taxonomy }}

{{- with $page.GetTerms $taxonomy }}
  {{- $label := (index . 0).Parent.LinkTitle }}
    {{- range . }}
      <div class="{{ (print $label) | lower }}">
        <a class="{{ (print $label) | lower }}-{{ .LinkTitle | lower }} text-decoration-none badge rounded-pill px-3 py-1" href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
      </div>
    {{- end }}
{{- end }}
